<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document </title>
</head>
<body>
    <h2>Hello, please upload your csv file </h2>
    <div id="dvImportSegments" class="fileupload ">
        <fieldset>
            <legend>Upload your CSV File</legend>
            <form class="" action="data" method="POST">
                <input type="file" name="csvFile"  accept=".csv" />
                <input type="submit" name="" value="submit" />

            </form>
               
       </fieldset>
    </div>
    
</body>
</html>